/* Copyright 2017  Franklin Orellana

This file is part of UglyLinks.

UglyLinks is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

UglyLinks is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with UglyLinks.  If not, see <http://www.gnu.org/licenses/>.

*/

html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.button {
    margin: 2% auto;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    cursor: pointer;
}

h1 {
    font-size: 12px;
}